<!DOCTYPE html>
<html>
<head>
    <title>elimage: CLI image pastebin</title>
    <link rel="stylesheet" type="text/css" href="http://vimcn.qiniudn.com/css/main.css">
</head>
<body ng-app="vim">
    <div id="content" class="authCtn" ng-view>

    </div>
    <div class="btnCtn">
        <a id="up" href="/" class="auth lgn" title="登录"></a>
        <a id="help" href="/Help" class="auth lgn" title="帮助"></a>
        <a id="aboutus" href="/Us" class="auth sgnp" title="关于我们"></a>
    </div>
</body>
<script type="application/javascript" src="http://vimcn.qiniudn.com/jquery.min.js"></script>
<script type="application/javascript" src="http://vimcn.qiniudn.com/angular/angular.min.js"></script>
<script type="application/javascript" src="http://vimcn.qiniudn.com/angular/angular-route.min.js"></script>
<script type="application/javascript" src="http://vimcn.qiniudn.com/app/main.js"></script>
</html>